html,body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th{
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: blue;
}


header {
  background-color: #2F4F4F;
  color: #fff;
  padding: 0;
  width: 100%;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}


main {
  padding: 0px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;

}


label {
  font-weight: bold;
}

input[type='text'] {
  padding: 8px;
  border: 2px solid #000;
  border-radius: 4px;
}

input[type='submit'] {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

h3{
  color: purple;

}


table{
  width:100%;
  margin: 0px;
}

h1{
  color:blue
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.right-section {
  flex: 0;
  padding: 20px;
  flex-direction:column;
}

.left-section {
  width: 300px;
  height: 100vh;
  background-color: #4caf50;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 300px;
  min-width:100px;
  min-width: 100px;
  z-index: 1000;
  border: 1px solid #000;
}
.content {
  display: flex;
}

.chat-container {
  margin-top: 20px;
}


.content {
  display: flex;
  opacity: 0;
}

.aside_container {
  min-height: 400px;
}


#header_table{
  width: 100%;
}

#catme_title{
  text-align: right;
  padding: 3px
}

#students_alert{
  text-align: right;
  color: black;
  font-size: 13px;
  margin: 0px;
}


#nyu_logo{
  height: 100px;

}

#buttonToDetail{
  padding-left:50%;
  padding-top: 20px;
  justify-content: center;
  text: blue;
}

#detailbutton{
  background-color: #19ffa7;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

df-messenger {
  --df-messenger-bot-message: #fff;
  --df-messenger-button-titlebar-color: darkgreen;
  --df-messenger-button-titlebar-font-color: #fff;
  --df-messenger-chat-background-color: darkseagreen;
  --df-messenger-font-color: rgba(0,0,0,.87);
  --df-messenger-input-box-color: #fff;
  --df-messenger-input-font-color: rgba(0,0,0,.87);
  --df-messenger-input-placeholder-font-color: cornflowerblue;
  --df-messenger-minimized-chat-close-icon-color: rgba(0,0,0,.87);
  --df-messenger-send-icon: #42a5f5;
  --df-messenger-user-message: gray;
  --df-messenger-chip-color: #fff;
  --df-messenger-chip-border-color: #e0e0e0;


}


#warning{
  color: red;
}

#home-container{
  border: black;
  border-radius: 4px;
  border: 3px;
}

.homepage {
  height: 100vh;
  display: flex;
}

.chat-container {
  flex-basis: 100%; /* Set the initial size of the large box to 100% of the container width */

  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 85%;
  max-height: 85%;
  justify-content: space-between;
  
}

.chat-box {
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  
}

.chat {
  margin-bottom: 10px;
}

.response {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;
  max-width: 70%;
  flex-grow: 1;
  
}

.input-form {
  overflow-y: auto;
  display: flex;
  padding: 10px;
}

.input-field {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.send-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.send-button:hover {
  background-color: #0056b3;
}

.right_detail{
  justify-content: right;
  flex-grow: 0;
  flex-basis: 80%; /* Set the initial size of the large box to 80% of the container width */
}

.left_detail{
  justify-content: left;
  flex-grow: 0;
  background-color: #82c68e;
}